body{
    background-color: antiquewhite;
    margin: 60px;
    margin-left: 300px;
    margin-right: 300px;

}
fieldset{
    text-align: center;
    padding: 30px;
    font-size: 20px;
    border-radius: 30px;
    border-style: dotted;
    border-color: black;
}
legend{
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 110, 255);
    text-shadow: 3px 3px gray;
    margin-left: 40px;
}