body{
    background-color: bisque;
    margin: 60px;
}
fieldset{
    padding: 30px;
    border-radius: 30px;
    border-style: ridge;
    border-color: black;
}
legend{
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 102, 0);
    text-shadow: 3px 3px gray;
    margin-left: 40px;
}
span{
    color: red;
}
